MYSQL_HOST=host_de_la_base_de_datos
MYSQL_PORT=3306
MYSQL_DATABASE=nombre_de_la_base_de_datos
MYSQL_USER=usuario_de_la_base_de_datos
MYSQL_PASSWORD=password_de_la_base_de_datos
JWT_SECRET=secreto_para_jwt